/* *** RESET ****************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 70%;
  height: auto;
}

ul {
  list-style: none;
}

/* *** VARIABLES ****************************** */

:root {
  --body-color: hsl(0 0% 98%);
  --blue: #134f69;
  --light-blue: #007ed3;
  --gray: #767676;
  --orange: #c85027;
  --light-orange: #f0aa59;
  --text-color-light: hsl(0 0% 98%);

  --title-font-size: 1.825rem;
  --body-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* *** BASE ****************************** */

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--gray);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem var(--title-font);
  color: var(--blue);
  -webkit-font-smoothing: auto;
  position: relative;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    #c85027 0%,
    rgba(204, 244, 230, 0.34) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(204, 244, 230, 0.34) 0%,
    #c85027 100%
  );
}

.icons {
  width: 3rem;
}

.button {
  background-color: var(--light-blue);
  color: white;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  filter: brightness(0.9);
}

.image {
  display: flex;
  justify-content: center;
}

.swiper-slide .card-swiper p {
  margin-bottom: 0.75rem;
  color: var(--light-blue);
  text-align: center;
}

.card-swiper {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
  margin-top: 3rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--orange);
}

/* *** LAYOUT ****************************** */

#header {
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e4e4e4;
}

#header .title {
  line-height: 0.5rem;
}

#header.scroll {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.logo {
  width: 5rem;
}

/* #home .section {
  position: relative;
}
 */
.container {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 4rem 0;
}

.section .body-font-size {
  font-size: var(--body-font-size);
}

/* *** NAVIGATION ****************************** */
nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  text-align: center;
}
nav ul li a {
  transition: color 0.2s;
  position: relative;
  top: 0.5rem;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--orange);
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--orange);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav.show .menu ul {
  display: grid;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}

/* *** TOOGLE MENU ****************************** */

.toggle {
  color: var(--orange);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* *** HOME ****************************** */

#home .container {
  margin-top: 3.5rem;
}

#home .text {
  text-align: center;
  margin-bottom: 2rem;
}

#home .typed {
  font: 500 1rem var(--body-font);
  color: var(--orange);
  opacity: 1;
  visibility: visible;
  margin-top: 0.5rem;
}

@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }
  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}

@keyframes arrowDwn {
  0% {
    bottom: 25px;
  }
  30% {
    bottom: 15px;
    opacity: 1;
  }
  70% {
    bottom: 10px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 0;
  }
}

.section#home {
  position: relative;
  height: 100vh;
}

.section#home .bottom-home {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.jl-scroll-down {
  width: 55px;
  height: 75px;
  border-radius: 35px 35px 0 0;
  background-color: var(--blue);
  display: block;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.jl-arrow-down {
  width: 100%;
  height: 75px;
  display: table;
  position: relative;
}

.jl-arrow-down .fa-arrow-down {
  width: 16px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 25px;
  left: 2px;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  animation: arrowDwn 1s linear 1s infinite;
  color: white;
}

.jl-arrow-down::before {
  content: '';
  width: 3px;
  height: 30px;
  background-color: white;
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: lineDown 1s ease-out infinite;
  transform-origin: top center;
}

/* *** ABOUT ****************************** */

.section#about {
  text-align: center;
  background-color: white;
}

#about .image {
  margin: auto;
  margin-bottom: 2rem;
}

#about .quem_somos {
  width: 9rem;
  margin-bottom: 2rem;
}

#about .title {
  font: 700 1.2rem 'Poppins', sans-serif;
  color: var(--light-blue);
}

#about .company_numbers {
  max-width: 50%;
  margin: auto;
}

#about .icon_number {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

#about .icon_number h2 {
  color: var(--orange);
}

#about .company_numbers p {
  color: var(--light-blue);
  margin-bottom: 1rem;
}

/* .about_icons{
  display: flex;
} */

/* *** SERVICES ****************************** */

.section#services {
  text-align: center;
}
#services .cards {
  margin-bottom: 4rem;
}

#services .button {
  background-color: var(--light-blue);
  font-size: 18px;
}

#services .cards.grid {
  gap: 1.5rem;
}

#services .cards .card img {
  margin: 0 auto;
  width: 5rem;
}

#services .cards .title {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#services h3.title {
  font: 700 1.2rem 'Poppins', sans-serif;
  color: var(--blue);
}

#services .card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--orange);
  border-radius: 0.25rem 0.25rem 0 0;
}

#services .fire-solution {
  width: 35rem;
  margin: auto;
  margin-top: 4rem;
}

#services .fire-solution img {
  width: 6.25rem;
}

#services .fire-solution ul li {
  list-style: circle inside;
  text-align: left;
  font-weight: bold;
}

#services .modal-services .text {
  text-align: left;
}

#services header h3.title {
  color: var(--light-blue);
}

#services .modal-services .text h3 {
  font-size: 20px;
  color: var(--light-blue);
}

#services .modal-title.title {
  font-size: 20px;
  color: var(--orange);
}

.modal-services.grid {
  gap: 2rem;
}

/* *** CLIENTS ****************************** */

#clients {
  background-color: white;
}

#clients .title.line {
  margin-bottom: 2rem;
}

#clients .title.line {
  position: relative;
}

#clients .title.line::after {
  content: '';
  position: absolute;
  height: 2px;
  width: calc(100% - 8.5rem);
  background-color: var(--light-orange);
  bottom: 9px;
  right: 0.2rem;
}

#clients header p {
  text-align: justify;
}

#clients .client {
  padding: 2rem;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clients .client img {
  width: 15rem;
  height: 12rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

#clients h3.title {
  font: 700 1.2rem 'Poppins', sans-serif;
  color: #007ed3;
  text-align: center;
}

#clients .swiper {
  margin-bottom: 3rem;
}

#clients h2.title {
  font: 700 1.5rem 'Poppins', sans-serif;
  text-align: center;
  color: var(--orange);
}

#clients .clients_logo {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-end;
  gap: 4rem;
  margin-top: 5rem;
}

#clients .clients_logo .card_logo {
  margin: auto;
}

#clients .clients_logo .card_logo img {
  width: 150px;
  cursor: pointer;
}

#clients .clients_logo .card_logo img.sbt {
  width: 130px;
}

#clients .clients_logo .card_logo img:hover {
  transform: scale(1.5, 1.5);
}

/* *** TEAM ****************************** */

#team header {
  text-align: center;
}

#team header .title_team {
  width: 9rem;
  margin-bottom: 2rem;
}

#team header p {
  color: var(--orange);
  font-weight: bold;
}

#team .cards_team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: auto;
  gap: 4rem;
  margin-top: 5rem;
}

#team .cards_team .card {
  height: 8.5rem;
  width: 12rem;
  background-color: white;
  border-radius: 0.75rem;
  margin: 2.5rem 2.5rem 6rem 2.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}

#team .cards_team .card img:hover {
  transform: translateY(3.125rem);
}

#team .cards_team .card img {
  width: 7.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 7px solid white;
  position: absolute;
  top: -4.5rem;
}

#team .cards_team .card p:nth-child(2) {
  color: var(--blue);
}

#team .cards_team .card p:nth-child(3) {
  color: var(--orange);
}

#team .team {
  padding: 2rem;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team .team img {
  width: 20rem;

  height: 15rem;
  border-radius: 0.25rem;
  object-fit: fill;
}

#team .team img.employees {
  width: 25rem;
}

#team .team img.two_employees {
  width: 16rem;
}

#team .employees header h2 {
  color: var(--orange);
}

/* *** CONTACT ****************************** */

section#contact {
  background-color: white;
}

#contact .grid {
  gap: 4rem;
}

#contact .text h2 {
  margin-bottom: 2rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  color: white;
}
#contact .button {
  color: white;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li i {
  color: var(--orange);
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact.section {
  padding: 4rem 0;
}

/* *** FOOTER ****************************** */

footer {
  background-color: var(--blue);
}

footer .brand .logo {
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-7px);
  text-decoration: none;
}

footer.section {
  padding: 4rem 0;
}

/* Back to top */

.back-to-top {
  background-color: var(--blue);
  color: var(--text-color-light);
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  padding: 0.2rem;
  clip-path: circle();
  font-size: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  text-decoration: none;
  color: white;
}

/* WHATSSAPP FIXED */
a.whatss-fixed {
  color: #4caf50;
  position: fixed;
  right: 1rem;
  bottom: 0.5rem;
  font-size: 2.5rem;
  text-decoration: none;
}

/* RESPONSIVE */

@media screen and (min-width: 200px) and (max-width: 649px) {
  #clients .clients_logo {
    grid-template-columns: 1fr;
  }

  #services .fire-solution {
    width: 20rem;
  }

  #services .fire-solution p {
    text-align: justify;
  }
}

@media screen and (min-width: 400px) and (max-width: 649px) {
  #about .company_numbers {
    max-width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 650px) and (max-width: 991px) {
  #about .company_numbers {
    max-width: 25%;
    margin: auto;
  }

  #clients .clients_logo {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
  }

  body p,
  li {
    font-size: 18px;
  }

  img {
    width: 55%;
    height: auto;
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .logo {
    width: 6.5rem;
  }
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  /* nav .menu{
    display: flex;
    align-items: flex-end;
  } */

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .icon-menu {
    display: none;
  }

  nav .menu ul li a.title {
    font: 400 1.1rem var(--title-font);
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
  }

  nav ul li a.title.active {
    font-weight: 500;
    -webkit-font-smoothing: auto;
  }

  #home {
    display: flex;
    justify-content: flex-start;
  }

  #home .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #home .image {
    order: 1;
    justify-content: flex-end;
  }

  #home .title {
    font-family: var(--body-font);
    font-size: calc(var(--title-font-size) + 2rem);
    margin-bottom: 2rem;
  }

  #home .typed {
    font: 500 1.275rem var(--body-font);
    color: var(--orange);
    opacity: 1;
    visibility: visible;
    margin-top: 2rem;
  }

  #home .text {
    order: 0;
    text-align: left;
  }

  /* about */

  #about .image-text .text {
    text-align: left;
  }

  #about .image-text .image {
    width: 35rem;
  }

  #about .image-text .text .quem_somos {
    width: 18rem;
  }

  #about .image-text .text .title {
    margin-bottom: 2rem;
  }

  #about .image-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  #about .image-text p {
    text-align: justify;
    max-width: 80%;
  }

  #about .image-text p strong {
    color: var(--orange);
  }

  #about .about_icons {
    margin-top: 2rem;
    display: flex;
  }

  /* services */

  #services header h1.title {
    font-family: var(--body-font);
    font-size: calc(var(--title-font-size) + 1rem);
    margin-bottom: 2rem;
  }

  #services .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #services .cards .card p {
    text-align: justify;
  }

  #services header p {
    margin-top: 2rem;
  }

  /* clients */

  #clients .client img {
    width: 20rem;
    height: 15rem;
  }

  #clients header h1.title {
    font-family: var(--body-font);
    font-size: calc(var(--title-font-size) + 1rem);
    margin-bottom: 2rem;
  }

  #clients .title.line::after {
    width: calc(100% - 13.5rem);
  }

  /* team */

  #team header {
    display: grid;
  }

  #team header p {
    font-size: 1.875rem;
  }

  #team header .title_team {
    width: 18rem;
  }

  #team .cards_team .card {
    height: 11rem;
    width: 15rem;
  }

  #team .cards_team .card img {
    width: 10rem;
    top: -6rem;
  }

  /* contact */

  #contact .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
  }

  #contact a {
    text-decoration: none;
  }

  /* footer */

  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }

  @media screen and (min-width: 1400px) {
    #home .image {
      width: 70%;
    }
  }
}
